@mixin underline($bg-color, $color: currentColor){
  background: linear-gradient($bg-color, $bg-color),
    linear-gradient($bg-color, $bg-color), linear-gradient($color, $color);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: .03em 0 $bg-color, -.03em 0 $bg-color,
    0 .03em $bg-color, 0 -.03em $bg-color,
    .06em 0 $bg-color, -.06em 0 $bg-color,
    .09em 0 $bg-color, -.09em 0 $bg-color,
    .12em 0 $bg-color, -.12em 0 $bg-color,
    .15em 0 $bg-color, -.15em 0 $bg-color;
  background-position: 0 95%, 100% 95%, 0 95%;
}

@mixin linkColor($color, $bg-color) {
  .main-link {
    color: $color;
  }
  &.router-link-active .main-link,
  .main-link:hover {
    border-color: $color;
  }
  &.router-link-active .main-link {
    color: $bg-color;
    background: $color;
  }
  p a {
    @include underline($bg-color, $color);
    &:hover {
      color: $color;
      background: inherit;
    }
  }
}

@mixin mobile-portrait {
  @media screen and (max-width: $mobile-max) and (orientation: portrait) {
    @content;
  }
}